# Compilación y binarios
*.class
bin/

# Paquetes y dependencias
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
lib/

# Configuración de IDEs
# Eclipse
.settings/
.classpath
.project
# IntelliJ / VS Code
.idea/
*.iml
.vscode/

# Logs y fallos de JVM
*.log
hs_err_pid*
replay_pid*

# Herramientas Java legacy / BlueJ
*.ctxt
.mtj.tmp/

# Archivos del sistema operativo
.DS_Store
Thumbs.db